* {
	box-sizing: border-box;
}

body {
	background-color: #778899;
}
.board {
	height: 300px;
	width: 300px;
	margin: 0 auto;
	font-size: 0;
	margin-top: 1cm;
	background-color: white;
}

.board div {
	height: 100px;
	width: 100px;
	display: inline-block;
	border: 1px solid grey;
}

.red {
	background-image: url("Garfield.jpg");
	background-size: 100px 100px;
}

.blue {
	background-image: url("łoś.png");
	background-size: 100px 100px;
	}

.title {
	text-align: center;
	margin-top: 1cm
}


img {
	height: 100px;
	width: 100px;
}
